/* Top Banner Styles */
.top-banner {
  background-color: rgba(44, 122, 63, 0.9); /* Semi-transparent Herbal Green */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 110; /* Ensures it's above the carousel */
}

.contact-info {
  display: flex;
  gap: 20px;
  padding-left: 100px;
  font-size: 20px;
}


.contact-info span:hover{
  color: #fbbf24;
}


.contact-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-header {
  font-size: 20px;
  vertical-align: middle;
  
}

.social-icons {
  display: flex;
  gap: 15px;
  padding-right: 100px;
}

.social-link {
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #fbbf24; /* Highlight color on hover */
}
