 
/* src/components/Navbar.css */
.navbar {
    background-color: #ffffff;
    color: rgb(106, 106, 106);
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }

  .nav-links a {
    color: rgb(106, 106, 106);
    text-decoration: none;
    font-size: 16px;
  }

  .nav-link {
    color: rgb(106, 106, 106);
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    color: #2c7a3f;
  }
  