/* src/components/Footer.css */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1f2937; /* Ensure visibility */
    color: white;
    text-align: center;
    padding: 8px;
    z-index: 9999; /* Higher z-index to stay above other content */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  }
  .footer-text{
    color: white;
    font-size: small;
  }
  
  .footer-socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .social-link {
    color: white;
    font-size: 24px;
  }
  
  .social-link:hover {
    color: #2c7a3f;
  }
   
