/* Products Section */
.products {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
}

.product-section-title {
  display: flex;
  margin-bottom: 16px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.product-card {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.product-description {
  font-size: 16px;
  color: #4b5563;
}

.navbar_prd_title {
  padding-top: 100px;
  text-align: center;
}