/* Container Styles */
.productcontainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@400;500&display=swap');
/* Title Styling */
.producttitle {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;
  font-family: 'Black Ops One', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #2c7a3f;
  letter-spacing: 1.5px;
}

.producttitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #a2d5ab;
  margin: 10px auto 0;
  border-radius: 5px;
}

/* Field Styles */
.productfield {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
}

/* Button Styles */
.productbutton {
  width: 100%;
  text-align: left;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #6d8a3d;
  background-color: #f1f5e6;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productbutton:hover {
  background-color: #e3ebd3;
}

/* Content Styles */
.productcontent {
  padding: 12px;
  background-color: white;
  color: #333;
  font-size: 14px;
  border-top: 2px solid #d3d3d3;
  display: none;
}

.productcontent.active {
  display: block;
}

/* Heading Styles */
.productheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4d7c2c;
}

/* Bullet List */
.productcontent ul {
  margin-left: 20px;
}

.productcontent ul li {
  margin-bottom: 5px;
  list-style-type: disc;
}

/* Subheading */
.productsubheading {
  font-size: 20px;
  font-weight: bold;
  color: #388e3c;
  margin-bottom: 10px;
}
